#Raw and large biological data
data/
results/

#Temporary genomic formats
*.bed

# VCF index files
*.csi
*.tbi

# Alignment files
*.bam
*.bai

#Variant files
*.vcf
*.vcf.gz
*.tbi

#Fastq files
*.fastq
*.fastq.gz

#Temporary files
*.tmp
*.log

#Python
__pycache__/

#OS files
.DS_Store
